<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>3 demo-create()</title>
    <script src="https://cdn.bootcss.com/vue/2.5.13/vue.js"></script>
</head>
<body>
<div id="app">
    {{msg}}
    <br/>
    <input type="text" v-model="msg"/>
    <ul>
        <li v-for="item in arr">{{item}}</li>
    </ul>
</div>
<script>
    let app = new Vue({
        el: '#app',
        data: {
            msg: 1,
            arr: [1,2,3]
        },
        methods:{
            fn(){
            return 'fn'
            }
        },
        created(){
            setTimeout(()=>{
                this.arr = [1,2,3,4]
            },1000)
        },
        watch:{
            arr:function () {
                alert('arr数据发生改变')
            }
        }
    });

</script>
</body>
</html>