.down-arrow{
	position: absolute;
	top:0.7rem;
	left:16.5rem;
	width: 0.8rem;
	height:0.8rem;
}

.requireRow{
	width: 100%;
	display: inline；
}

.requireRow .requireItem{
	margin-right: 0.2rem;
	width:3.5rem;
	height:1.45rem;
	border:1px solid #c8c8c8;
	border-radius: 0.2rem;
	text-align:center;
	font-size: 0.7rem;
	line-height: 1.45rem;
	color:#c8c8c8;
	float: left;
}

.dropDown{
	position: absolute;
	top:0.75rem;
	left:11rem;
	width: 0.6rem;
	height:1rem;
}

.right-arrow{
	position: absolute;
	top:0.7rem;
	left:16.5rem;
	width: 0.6rem;
	height:1rem;
}

.dataShow>*{
	border:0;
}


.dataShow ul li{
	height:1rem;
	border:0;
	font-size: 0.6rem;
	line-height: 1rem;
	background:red;
}