.clearFix:before,
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.noBorder {
    border: 0
}

.redFont {
    color: red
}

body {
    padding: 0;
    margin: 0;
}

.addBorder {
    border: 1px solid #101010;
    border-radius: 0.2rem
}

.font-1 {
    color: rgba(51, 51, 51, 1);
    font-size: 0.7rem;
    font-family: font-regular;
}

.font-2 {
    color: rgba(204, 204, 204, 1);
    font-size: 0.7rem;
    font-family: font-regular;

}

.font-2::-webkit-input-placeholder {
    color: rgba(204, 204, 204, 1);
    font-size: 0.7rem;
    font-family: font-regular;
}

.font-3{
    color: rgba(153, 153, 153, 1);
    font-size: 0.5rem;
    font-family: font-regular;
}